<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Spaces</title>
  <link rel="stylesheet" type="text/css" href="../../static/style.css">
</head>

<body>
  <nav class="navbar">
    <div class="navbar-brand">
      <a href="/">
        <img src="../../static/images/logo.png" alt="Bed 'n' Brew" class="logo">
      </a>
    </div>
    <div class="navbar-menu">
      {% if current_user.is_authenticated %}
      <a href="/logout" class="nav-link">Logout</a>
      {% else %}
      <a href="/login" class="nav-link">Login</a>
      <a href="/register" class="nav-link">Register</a>
      {% endif %}
    </div>
  </nav>

  <div class="page-header">
    <h1>Available Spaces</h1>
    <p>Look at these wonderful spaces to rent...</p>
  </div>

  {% if current_user.is_authenticated %}
  <a class="list-button" href="spaces/new">List a Space</a>
  {% endif %}

  {% if spaces %}
  <div class="grid-container">
    
    {% for space in spaces %}
    <div class="grid-item">
      <div class="space-item">
        <div class="space-info">
          <img src={{space.image_url}}>
          <div class="space-details">
            <a href="/spaces/{{space.id}}"><h3>{{space.property_name}}</h3></a>
            <span class="location">{{space.property_type}} in {{space.location}} |</span>
            <span class="price">£{{space.price_per_night}} per night |</span>
            <span class="beds">{{space.beds}} {% if space.beds == 1 %}bed{% else %}beds{% endif %} | </span>
            <span class="rating">
              {% for star in range(space.rating) %}
                <strong class="star">⭐️</strong>
              {% endfor %}
            </span>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <h3>No spaces available</h3>
  {% endif %}
</body>

</html>