<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="../../static/style.css">
</head>

<body class="user-login">
    <nav class="navbar">
        <div class="navbar-brand">
            <a href="/">
                <img src="../../static/images/logo.png" alt="Bed 'n' Brew" class="logo">
            </a>
        </div>
        <div class="navbar-menu">
            {% if current_user.is_authenticated %}
            <a href="/logout" class="nav-link">Logout</a>
            {% else %}
            <a href="/login" class="nav-link">Login</a>
            <a href="/register" class="nav-link">Register</a>
            {% endif %}
        </div>
    </nav>

    <h1>Login</h1>

    <form action="login" method="post">
        {% if errors %}
        <p class="t-errors">
            {{ errors }}
        </p>
        {% endif %}

        <p>
            <label for="email">Email</label>
            <input type="text" name="email" for="email">
        </p>

        <p>
            <label for="password">Password</label>
            <input type="password" name="password" for="password">
        </p>

        <p>
            <input type="submit" value="Sign in!">
        </p>

    </form>

    <div>
        <a class="back-button" href="/spaces">Back</a>
    </div>
</body>

</html>